.anuncio-premium {
  position: fixed; /*deixa especificamente embaixo*/
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 40px;
  background: linear-gradient(to right, #1b254c, #7a0ed2);
  z-index: 1;
}
footer .text {
  font-family: "DM Sans", sans-serif;
  /*flex-shrink: 0; //não aperta o texto, mas impede responsividade. o video colocava, mas não gostei, então tirei*/
}
.footer-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}
.footer-subtitle {
  font-size: 14px;
  font-weight: 500;
}
.footer-button {
  border-radius: 20px;
  border: 0;
  width: 175px;
  height: 40px;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
  font-weight: bold;
  padding: 14px 30px;
  cursor: pointer;
  flex-shrink: 0;
}
